  ::ng-deep .dx-field > .dx-lookup {
    flex: 1;
    color: black;
  }

  ::ng-deep .dx-icon-trash::before {
    content: "\f03e";
    color: red;
}

::ng-deep .dx-popup-draggable .dx-button-content {
  color:whitesmoke;
  background:  rgb(51, 51, 51);
  /* background: white(68, 68, 68); */
}

::ng-deep .dx-datagrid-rowsview .dx-datagrid-content:not(.dx-datagrid-content-fixed) {
  min-height: 100%;
  font-family: 'Segoe UI light';
}

::ng-deep .dx-popup-draggable .dx-popup-title{
    cursor: move;
    touch-action: pinch-zoom;
    background-color: rgb(51, 51, 51);
    color: whitesmoke;
}

::ng-deep .dx-popup-bottom {
    background: 0 0;
    color: #333;
    
}

::ng-deep .dx-button-mode-text .dx-icon {
    color: white;
}

/* Forzar letras negras en cualquier botón del popup al hover/focus */
::ng-deep .dx-popup-bottom .dx-button:hover .dx-button-text,
::ng-deep .dx-popup-bottom .dx-button:focus .dx-button-text {
    color: #111 !important;
}

::ng-deep .dx-datagrid-content .dx-datagrid-cell {
  white-space: normal !important;
  word-break: break-word !important;
  overflow-wrap: anywhere !important;
}

.preview {
  display: flex;             /* Habilita Flexbox */
  flex-wrap: wrap;           /* Permite que los elementos se envuelvan a la siguiente línea si no caben */
  justify-content: center;   /* Opcional: Centra los elementos horizontalmente */
  align-items: flex-start;   /* Opcional: Alinea los elementos en la parte superior */
  gap: 20px;                 /* Añade un espacio entre los elementos y evita márgenes complejos */
  padding: 10px;             /* Espacio interno para que no se pegue a los bordes */

}

.column {
flex-grow: 1;              /* Permite que la columna crezca para ocupar espacio disponible */
  flex-shrink: 1;            /* Permite que la columna se encoja para caber en la pantalla */
  flex-basis: 300px;         /* Define un tamaño base para la columna. Puedes ajustarlo. */

  /* Estilos visuales */
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;    /* Asegura que el padding no añada ancho extra */
}

/* Estilos para el texto y listas son los mismos */
h3, h4 {
  margin-top: 0;
  text-align: center;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}