<input type="file" (change)="onFileSelected($event)" />
<div *ngFor="let img of images" style="display:inline-block; margin:8px">
  <img [src]="img.url" [alt]="img.name" style="max-width:150px; max-height:150px; display:block"/>
  <div>{{ img.name }}</div>
</div>

<dx-load-indicator [visible]="loading"></dx-load-indicator>

<!-- ...existing code... -->
<div class="edit-home-container">
  <h2>Imágenes subidas</h2>

  <dx-data-grid
    [dataSource]="images"
    [showBorders]="true"
    [columnAutoWidth]="true"
    height="420"
  >
    <dxi-column caption="Preview" width="140">
      <ng-template let-data="data" dxTemplate="cell">
        <div class="img-cell">
          <img [src]="data.url" [alt]="data.nombre || 'imagen'" />
        </div>
      </ng-template>
    </dxi-column>

    <dxi-column dataField="nombre" caption="Nombre"></dxi-column>

    <dxi-column caption="Tipo" dataField="tipo" width="120"></dxi-column>

    <dxi-column caption="Fecha" width="160">
      <ng-template let-data="data" dxTemplate="cell">
        <div>{{ data.created_at ? (data.created_at | date : 'short') : '' }}</div>
      </ng-template>
    </dxi-column>

    <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
<div class="edit-home-container">
  <h2>Imágenes subidas</h2>

  <dx-data-grid
    [dataSource]="images"
    [showBorders]="true"
    [columnAutoWidth]="true"
    height="420"
    class="styled-grid" >
    <dxi-column caption="Preview" width="140" cellTemplate="imgCellTemplate"></dxi-column> <dxi-column dataField="nombre" caption="Nombre"></dxi-column>

    <dxi-column caption="Tipo" dataField="tipo" width="120"></dxi-column>

    <dxi-column caption="Fecha" width="160">
      <ng-template let-data="data" dxTemplate="cell">
        <div>{{ data.created_at ? (data.created_at | date : 'short') : '' }}</div>
      </ng-template>
    </dxi-column>

    <ng-template #imgCellTemplate let-data="data">
        <div class="img-cell">
          <img [src]="data.url" [alt]="data.nombre || 'imagen'" />
        </div>
    </ng-template>

    <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
  </dx-data-grid>
</div>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
  </dx-data-grid>
</div>
<!-- ...existing code... -->